version: '3'
services:
  patroni:
    image: patroni:latest
    build:
      context: .
      dockerfile: ./dockerfile
    network_mode: host
    ports:
      - "8008:8008"
      - "6432:5432"
    user: postgres
    volumes:
      - ../../../pg-cluster-volumes/postgres-data:/var/lib/postgresql/data
    environment:
      TZ: Asia/Riyadh
      PATRONI_NAME: member_${HOSTNAME}
      PATRONI_POSTGRESQL_DATA_DIR: /var/lib/postgresql/data/node
      # PATRONI_CONSUL_HOST: http://34.194.97.9:8500
      # PATRONI_CONSUL_URL: http://34.194.97.9:8500/v1/
    restart: unless-stopped

  pgbouncer:
    image: edoburu/pgbouncer
    network_mode: host
    ports:
      - "5432:5432"
    depends_on:
      - patroni
    environment:
      TZ: Asia/Riyadh
      ADMIN_USERS: admin
      DB_HOST: patroni
      DB_USER: admin
      DB_PASSWORD: admin
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 1000
      DEFAULT_POOL_SIZE: 300
    restart: unless-stopped
