version: '3'
services:
  patroni:
    image: patroni:latest
    build:
      context: .
      dockerfile: ./dockerfile
    networks:
      - postgres-backend
    ports:
      - "8008:8008"
      - "6432:5432"
    user: postgres
    volumes:
      - ../../../pg-cluster-volumes/postgres-data:/var/lib/postgresql/data
    environment:
      TZ: Asia/Riyadh
      PATRONI_NAME: member_${HOSTNAME}
      PATRONI_POSTGRESQL_DATA_DIR: /var/lib/postgresql/data/node
      PATRONI_CONSUL_HOST: http://34.194.97.9:8500
      PATRONI_CONSUL_URL: http://34.194.97.9:8500/v1/
      # PATRONI_CONSUL_HOST: http://consul-ip:8500
      # PATRONI_CONSUL_URL: http://consul-ip:8500/v1/
    restart: unless-stopped

  # pgbouncer:
  #   image: edoburu/pgbouncer
  #   networks:
  #     - postgres-backend
  #   ports:
  #     - "5432:5432"
  #   depends_on:
  #     - patroni
  #   environment:
  #     TZ: Asia/Riyadh
  #     ADMIN_USERS: admin
  #     DB_HOST: patroni
  #     DB_USER: admin
  #     DB_PASSWORD: admin
  #     POOL_MODE: transaction
  #     MAX_CLIENT_CONN: 1000
  #     DEFAULT_POOL_SIZE: 300
  #   restart: unless-stopped
    
  # consul:
  #   image: hashicorp/consul
  #   networks:
  #     - postgres-backend
  #   hostname: "${HOSTNAME}"
  #   environment:
  #     TZ: Asia/Riyadh
  #     ui_config.enabled: "true"
  #   ports:
  #     - "8300:8300"
  #     - "8301:8301"
  #     - "8301:8301/udp"
  #     - "8302:8302"
  #     - "8302:8302/udp"
  #     - "8400:8400"
  #     - "8500:8500"
  #     - "8600:8600/udp"
  #   volumes:
  #     - ../../pg-cluster-volumes/consul-data:/data
  #     - ./server.hcl:/etc/consul.d/server.hcl
  #   restart: unless-stopped
  #   command: agent -server -advertise 34.194.97.9 -bootstrap-expect 3 -client 0.0.0.0 -retry-join 34.194.97.9 -retry-join 34.205.236.241 -retry-join 34.238.66.141

  consul-server1:
    image: hashicorp/consul:1.11.2
    container_name: consul-server1
    restart: unless-stopped
    volumes:
     - ./config/server1.json:/consul/config/server1.json
     - ./certs/:/consul/config/certs/
    # networks:
    #   - consul
    ports:
      - "8500:8500"
      - "8600:8600/tcp"
      - "8600:8600/udp"
    command: "agent -bootstrap-expect=3"
    network_mode: host

  consul-client:
    image: hashicorp/consul:1.11.2
    container_name: consul-client
    restart: unless-stopped
    volumes:
     - ./config/client.json:/consul/config/client.json
     - ./certs/:/consul/config/certs/
    # networks:
    #   - consul
    command: "agent"
    network_mode: host
# networks:
#   #postgres-backend:
#   consul:
#     driver: host
